body {
  background-color: rgb(224, 194, 211);
  background-image: linear-gradient(90deg, rgb(224, 194, 211) 0%, rgb(41, 53, 86) 100%);
}
body header {
  margin: 25px;
  padding: 5px;
}
body div {
  margin: 25px;
}
body div .btn.btn-primary {
  background-color: rgb(41, 53, 86);
}